/* Manage parking page */
form#parkingForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

form#parkingForm input {
    width: 100%;
    margin: 8px 0;
}

form#parkingForm button {
    background-color: #0055a5;
}
