/* View payments page */
table {
    background-color: #ffffff;
    border: 1px solid #003366;
    border-radius: 5px;
}

th {
    background-color: #003366;
    color: white;
}

td, th {
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: #e6f0ff;
}
