# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project files
__pycache__/
*.py[cod]
*$py.class
app/static/evidence/
tensorboard_logs/

# React & Frontend
node_modules/
dist/
build/
.next/
out/
frontend-v2/android/
frontend-v2/ios/
.expo/

# AI Models & Checkpoints
*.pt
*yolo*.pt
*best.pt
*.zip
*.pkl

# Mobile Apps & Binaries
*.apk
*.aab

# DB & Test Files
PyWhatKit_DB.txt
test_*.jpg
test_*.png
*.sqlite3
